{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RIDHASAPP</title>
    <link href="{%static 'css/main.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="bg-image">
      <div class="wrapper">
          <nav>
            <a href="#">Home</a>
            <a href="#">Register</a>
            <a href="#">Login</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </nav>
      </div>
<div class="bg-text">
    <h1 style="font-family:Ink Free"> Hii Ridha Congratulations on your first app</h1>
  <h2>RIDHA'S FIRST WEBSITE</h2>
  <h1 style="font-size:50px">I am RIDHA FATHIMA</h1>
  <p>And I'm a Student</p>
</div>
</div>
</body>
</html>
